<header class="header" role="banner">
  <span class="header__title{% if page.url == '/' %}  is-active{% endif %}">
    <a class="header__link" href="/">endler.tech</a>
  </span>
  <nav role="navigation" class="nav">
    <ul class="nav__list">
      {% for item in site.nav %}
      <li class="nav__item{% if page.url == item.url %}  is-active{% endif %}">
        <a class="nav__link" href="{{ item.url }}">{{ item.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="https://notes.endler.tech" target="blank">Notes</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="https://github.com/JEndler" target="blank">GitHub</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="https://www.linkedin.com/in/jakobendler/" target="blank">LinkedIn</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/assets/images/cv.pdf" target="blank">Resumé</a>
      </li>
    </ul>
  </div>
</header>
